/*================================================================== Default Rule across pages =========================================*/
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}


/*==================== Playground Screen CSS Rules =========================================*/
.GroundHole {
    height: 300px;
    width: 300px;
}

.hole {
    height: 300px;
    width: 300px;
    background-image: url('./resources/images/WithoutMole.png');
    background-size: cover;
}

.mole {
    height: 300px;
    width: 300px;
    background-image: url('./resources/images/WithMole.png');
    background-size: cover;
}


.GameBoard {
    display: grid;
    height: 100vh;
    width: 80%;
    grid-template-columns: repeat(3, 1fr);
    background-color: #91fd77;
    padding-left: 10%;
    cursor: url('./resources/images/Hammer.png') 5 5, auto;
}

.GameHeader {
    height: 100vh;
    width: 20%;
    background-color: #735220;
}

.GameStats {
    display: flex;
    flex-direction: column;
    align-items: center;
    font-weight: 800;
    color: white;
    justify-content: space-between;
}

.GameBordCnt {
    display: flex;
    height: 100vh;
    width: 100%;
    overflow: hidden;
}

.StatsinfoBackground {
    background-color: white;
    color: #735220;
    padding: 2%;
    width: 80%;
    text-align: center;
    margin-top: 2%;
}

.GameTitle {
    text-align: center;
    font-weight: bold;
    letter-spacing: 0.2rem;
}

/*==================== HomePage Screen CSS Rules =========================================*/

.HomeCnt {
    display: flex;
    width: 100vw;
    height: 100vh;
}

.HomeGameImg {
    background-color: #91fd77;
    max-height: 100%;
    min-height: 30%;
    max-width: 100%;
    min-width: 50%;
}

.HomeGameImg span {
    font-size: 4rem;
    font-weight: 900;
    color: #735220;
}

.HomeActionBtns {
    max-height: 100%;
    max-width: 100%;
    min-width: 50%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.LevelSection {
    display: flex;
    flex-direction: column;
    padding: 1%;
}


.GameTitle {
    color: goldenrod;
    font-size: 3rem;
    margin-bottom: 30%;
    font-weight: 900;
}

.LevelSection button {
    margin: 3%;
    font-size: 1.5rem;
    height: 10%;
    color: white;
    background-color: #735220;
    cursor: pointer;
}

.LevelSection button:hover {
    color: #735220;
    background-color: white;
    cursor: pointer;
}

.HeroSection {
    height: 80%;
    width: inherit;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-200%, -50%);
    animation: moleAnimation 1s infinite;
}

.LevelSection span {
    color: rgb(96, 73, 44);
    font-size: 2rem;
    font-weight: 800;
}

.HomeHeaderActionsBtns {
    height: 10%;
    width: 100%;
    padding: 2%;
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
}

.GameInfoBackground {
    height: 120px;
    width: 130px;
    background-image: url('././resources/images/GameInfo.png');
    background-repeat: no-repeat;
    zoom: 0.50;
    margin-right: 1%;
}

.GameSettings {
    height: 120px;
    width: 130px;
    background-image: url('././resources/images/Gamesettings.png');
    background-repeat: no-repeat;
    zoom: 0.50;
    margin-right: 1%;
}

.GameSettings:hover,
.GameInfoBackground:hover {
    cursor: pointer;
}


/*=========================================== GameSettings Screen Css Rules ===============================================*/

.GameSettingsHeader {
    width: 100%;
    height: 10vh;
    background-color: #91fd77;
    color: #735220;
    font-weight: bold;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 4rem;
    letter-spacing: 0.2rem;
}

.GameSettingsCnt {
    width: 100%;
    height: 100vh;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    color: white;
}

.ConfCnt {
    margin-left: 2%;
    background-color: white;
    color: #735220;
    font-weight: bold;
    padding: 1%;
    height: max-content;
    width: 50%;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
}

.ConfLevelName {
    font-size: 3rem;
    font-weight: bold;
    letter-spacing: 0.2rem;
    text-align: center;
}

.ConfLabel {
    font-size: 1.2rem;
    font-weight: bold;
}

.confInput {
    width: 100%;
    font-size: 1rem;
    padding: 1%;
    outline: none;
    border-top: none;
    border-left: none;
    border-right: none;
    border-bottom: 1px solid #735220;
}

.confInput option {
    background-color: #735220;
    color: white;
}

.confUpdateInput {
    width: 30%;
    font-size: 1.5rem;
    padding: 0.5%;
    color: white;
    background-color: #735220;
    cursor: pointer;
}

.confUpdateInput:hover {
    color: #735220;
    background-color: white;
    border: 1px solid #735220;
    transition: background-color 0.15s ease-in 0.15s;
}

.ConfItems {
    margin-top: 2rem;
}

.ConfUpdate {
    display: flex;
    justify-content: center;
    margin-top: 1%;
}

@keyframes moleAnimation {
    0% {
        background-image: url("./resources/images/WithMole.png");
        background-repeat: no-repeat;
        height: 200px;
        width: 300px;
    }

    50% {
        background-image: url("./resources/images/WithoutMole.png");
        background-repeat: no-repeat;
        height: 200px;
        width: 300px;
    }

    100% {
        background-image: url("./resources/images/WithMole.png");
        background-repeat: no-repeat;
        height: 200px;
        width: 300px;
    }
}

/*============================ Game Info Screen Css Rules ================================*/

.info-container {
  max-width: 800px;
  padding: 2rem;
  font-family: 'Segoe UI', sans-serif;
  line-height: 1.6;
  color: #333;
  background-color: #f9f9f9;
  border-radius: 12px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%,-50%);
}

.info-title {
  text-align: center;
  color: #3e64ff;
  font-size: 2rem;
  margin-bottom: 1rem;
}

.info-description {
  font-size: 1.1rem;
  margin-bottom: 2rem;
}

.info-subtitle {
  font-size: 1.5rem;
  color: #2c3e50;
  margin-top: 1.5rem;
  margin-bottom: 1rem;
}

.info-list {
  list-style-type: disc;
  padding-left: 1.5rem;
  margin-bottom: 2rem;
}

.info-list-item {
  margin-bottom: 0.5rem;
}

.info-steps {
  padding-left: 1.5rem;
  margin-bottom: 2rem;
}

.info-step {
  margin-bottom: 0.5rem;
}

.footer-note {
  margin-top: 2rem;
  text-align: center;
  color: #666;
  font-size: 0.95rem;
}

/*====================  Result Screen Css Rules =========================================*/

.ResultCnt {
    height: 300px;
    width: 500px;
    background-color: #91fd77;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.ResultStatusCnt {
    font-size: 4rem;
    font-weight: bold;
    letter-spacing: 0.2rem;
}

.ResultScoreLabel {
    font-size: 2rem;
    font-weight: 800;
    letter-spacing: 0.2rem;
}

.ResultScoreValue {
    font-size: 6rem;
    font-weight: 800;
    letter-spacing: 0.1rem;
}

.ResultBtns {
    display: flex;
    justify-content: center;
    margin-top: 2%;
}

.ResetBtns {
    background-color: #735220;
    color: white;
    width: 5vw;
    height: 3vh;
    padding: 1%;
    font-weight: 800;
    cursor: pointer;
}

.leftSpacing {
    margin-left: 1%;
}
/*================================================================== Responsive Rules for Device with width 1400 px and smaller =========================================*/

@media only screen and (max-width: 1400px) {

    /*==================== Responsive HomePage=========================================*/
    .HomeCnt {
        display: flex;
        flex-direction: column;
    }

    .HeroSection {
        height: 60%;
        width: inherit;
        position: absolute;
        top: 10%;
        left: 50%;
        transform: translate(-30%, -10%);
    }

    .GameStartSection {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .GameTitle {
        font-size: 2rem;
        margin-bottom: 20%;
        margin-top: 5%;
    }

    .HomeGameImg span {
        font-size: 2rem;
    }

    .LevelSection button {
        height: auto;
        width: 10vw;
        padding: 0.5%;
    }

    .GameInfoBackground {
        height: 10vh;
        width: 10vw;
        background-image: url(/src/resources/images/GameInfo.png);
        background-repeat: no-repeat;
        background-size: contain;
        zoom: 0.50;
        margin-right: 1%;
    }

    .GameSettings {
        height: 10vh;
        width: 10vw;
        background-image: url('././resources/images/Gamesettings.png');
        background-repeat: no-repeat;
        background-size: contain;
        zoom: 0.50;
        margin-right: 1%;
    }

    /*======================================== Playground screen css rule =================================================*/
    .GroundHole {
        height: 20vh;
        width: 20vw;
    }

    .hole {
        height: 20vh;
        width: 20vw;
        background-image: url('./resources/images/WithoutMole.png');
        background-size: contain;
        background-repeat: no-repeat;
    }

    .mole {
        height: 20vh;
        width: 20vw;
        background-image: url('./resources/images/WithMole.png');
        background-size: contain;
        background-repeat: no-repeat;
    }

    /*==================================== Result Screen Css Rules ======================================================*/
    .ResetBtns {
        width: auto;
        height: 6vh;
    }

}

/*================================================================== Responsive Rules for Device with width 1401 px and larger =========================================*/

@media only screen and (min-width: 1401px) {

     /*==================================== Result Screen Css Rules ======================================================*/
    .ResetBtns {
        width: auto;
        height: auto;
    }
}


/*================================================================== Responsive Rules for Device with width 960 px and smaller =========================================*/

@media only screen and (max-width: 960px) {
    .LevelSection button {
        height: auto;
        width: 12vw;
        padding: 0.5%;
    }

    .ResultStatusCnt {
    font-size: 2rem;
    font-weight: bold;
    letter-spacing: 0.15rem;
    }

    /*===================================== Result Screen Css Rule ==============================*/
    .ResetBtns {
        width: auto;
        height: 5vh;
    }

    .ResultCnt {
        width: 80%;
        height: 35%;
        border-radius: 1rem;
    }
}

/*================================================================== Responsive Rules for Device with width 830 px and smaller =========================================*/

@media only screen and (max-width: 830px) {
    .LevelSection button {
        height: auto;
        width: 15vw;
        padding: 0.5%;
    }

    .GameBordCnt {
    display: flex;
    flex-direction: column;
    height: 100vh;
    width: 100%;
    overflow: hidden;
    }

    /*========================================= Playground screen rules ===========================================*/

    .GameBoard {
        width: 100%;
    }

    .GameHeader {
        width: 100%;
        height: 10vh;
    }

    .GameTitle {
        font-size: 1.2rem;
        margin-bottom: 0%;
        margin-top: 1%;
    }

    .GameStats {
        flex-direction: row;
    }

    .GameStats > div > h1 {
        display: none;
    }
}


/*================================================================== Responsive Rules for Device with width 700 px and smaller =========================================*/

@media only screen and (max-width: 700px) {

    /*==================== Responsive settings=========================================*/

    .LevelSection button {
        height: auto;
        width: 18vw;
        padding: 0.5%;
    }

    .confUpdateInput {
        width: 60%;
        font-size: 1rem;
    }

    .ConfUpdate {
        margin-top: 20%;
    }

    .ConfLevelName {
        font-size: 1.5rem;
    }
}

/*================================================================== Responsive Rules for Device with width 630 px and smaller =========================================*/

@media only screen and (max-width: 630px) {
    .LevelSection button {
        height: auto;
        width: 20vw;
        padding: 0.5%;
    }

    .GameInfoBackground {
        height: 15vh;
        width: 15vw;
        background-image: url(/src/resources/images/GameInfo.png);
        background-repeat: no-repeat;
        background-size: contain;
        zoom: 0.50;
        margin-right: 1%;
    }

    .GameSettings {
        height: 15vh;
        width: 15vw;
        background-image: url('././resources/images/Gamesettings.png');
        background-repeat: no-repeat;
        background-size: contain;
        zoom: 0.50;
        margin-right: 1%;
    }
}


/*================================================================== Responsive Rules for Device with width 500 px and smaller =========================================*/
@media only screen and (max-width: 500px) {
    .LevelSection button {
        height: auto;
        width: 30vw;
        padding: 0.5%;
    }
}


@media only screen and (max-width: 500px) {
    .StatsinfoBackground {
        padding: 1%;
        margin-top: 1.2%;
        font-size: 0.8rem;
    }
}

/*================================================================== Responsive Rules for Device with Height 800 px and smaller =========================================*/

@media only screen and (max-height: 800px) {
    .StatsinfoBackground {
        padding: 1%;
        margin-top: 1.2%;
        font-size: 0.8rem;
    }
}

@media only screen and (max-height: 630px) {
    .StatsinfoBackground {
        padding: 1%;
        margin-top: 1.2%;
        font-size: 0.8rem;
    }

    .GameHeader {
        height: 15vh;
    }
}